* {
  padding: 0;
  box-sizing: border-box;
}

.header-img{
  background-color:rgb(55, 55, 95);
  background-image: url("/images/stadium.jpg");
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
}
.statement {
  text-align: center;
  padding: 300px 10px;
  font-size: 30px;
  color:#fccc04;
  width: 100%;
 
}
.values{
  color: rgb(255, 255, 255);
}
.navbar {
  overflow: hidden;
  background-color: #201c24;
  /* padding: 20px 10px; */
  padding: 5px 10px;
}

.navbar a {
  float: left;
  color: rgb(197, 196, 196);
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  /* border-radius: 4px; */
  text-transform: uppercase;
  border-bottom: 5px solid transparent;
  padding-bottom: 10px;

}

.navbar a.logo {
  font-size: 25px;
  font-weight: bold;
}

.navbar a:hover {
  color: rgb(255, 255, 255);
  border-bottom: 5px solid #fccc04
}

.navbar a.active {
  background-color: dodgerblue;
  color: white;
}

.navbar-right {
  float: right;
}

body { 
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background: linear-gradient(45deg, #041f40, #062a56, #07346a, #0a4f9f, #0a4fa0);
	background-size: 400%, 400%;
  animation: change 20s ease-in-out infinite;
}

.title {
  font-size: 22px;
  border-bottom: 5px solid #fccc04;
  display:inline-block;
  line-height: 2px;
  padding-top: 75px;
  margin-left: 50px;
  
}
.intro-video{
  text-align: left;
  padding: 50px 50px;
}



@keyframes change {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}


@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar-right {
    float: none;
  }
}

