* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.header-main {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(21, 30, 65, 0.7),
      rgba(21, 30, 36, 0.7)
    ),
    url(/images/stadium.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.header-culture{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(21, 30, 65, 0.7),
      rgba(21, 30, 36, 0.7)
    ),
    url(/images/theScore_office_1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.culture-title {
  font-size: 48px;
  color: #fff;
  position: relative;
}

.main-title {
  font-size: 48px;
  color: #fff;
  position: relative;
}

.underlined {
  text-decoration: underline;
  text-decoration-color: #fccc04;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 150px;
}

.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #fccc04;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  font-size: 45px;
  width: 90%;
  color: #fccc04;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.auto-type {
  color: #fff;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  font-size: 18px;
  padding: 12px 34px;
  background: transparent;
  position: relative;
  cursor: pointer;
  border-radius: 34px;
}
.hero-btn:hover {
  border: 2px solid #086cfc;
  background: #086cfc;
  transition: 1s;
}

nav .fa {
  display: none;
}

@media (max-width: 700px) {
  .textbox h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: #fccc04;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
  }
  nav .fa {
    display: Block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
  .what-row {
    flex-direction: column;
  }
}

.content {
  animation: change 20s ease-in-out infinite;
  background: linear-gradient(
    45deg,
    #041f40,
    #062a56,
    #07346a,
    #0a4f9f,
    #0a4fa0
  );
}

@keyframes change {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*----- What's the score  -----*/

.container-what {
  animation: change 20s ease-in-out infinite;
  background: linear-gradient(
    45deg,
    #041f40,
    #062a56,
    #07346a,
    #0a4f9f,
    #0a4fa0
  );
}
.what {
  width:80%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

.what-title {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #fccc04;
  text-decoration-thickness: 4px;
}

.what-row {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}

.what-column {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 20px;
  margin-bottom: 2%;
  padding: 20px 12px;
  box-sizing: border-box;
}

.what-subtitle {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.what-column:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

